@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PRODUCTS</h1>
    <p class="lead">application for the management of products and their categories</p>
    <p><a href="https://es.wikipedia.org/wiki/Supermercado" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Supermarket</h2>
        <p>
           <img alt="products" src="~/Content/Images/productos.jpg"width:150px;height:150px;max-width: 80%; height: auto/><hr />
        </p>
        <p><a class="btn btn-primary" href="https://es.wikipedia.org/wiki/Supermercado">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>pharmacies</h2>
        <p></p>
        <img alt="pharmacy" src="~/Content/Images/farmacias.jpg" width:150px;height:150px;max-width: 80%; height: auto/><br /><br /><hr />
        <p><a class="btn btn-primary" href="https://es.wikipedia.org/wiki/Farmacia">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>technology</h2>
        <p></p>
        <img alt=" tecnologia" src="~/Content/Images/partes.jpg" width:100px;height:150px;max-width: 80%; height: auto /><hr />
        <p><a class="btn btn-primary" href="https://es.wikipedia.org/wiki/Sistemas_tecnol%C3%B3gicos ">Learn more &raquo;</a></p>
    </div>
</div>